USE [master]
GO
/****** Object:  Database [Validator]    Script Date: 19/11/2025 17:09:28 ******/
CREATE DATABASE [Validator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Validator', FILENAME = N'C:\Users\Mário\Validator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Validator_log', FILENAME = N'C:\Users\Mário\Validator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Validator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Validator]
GO
/****** Object:  Table [dbo].[carteirinha]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carteirinha](
	[pessoa_id] [int] NOT NULL,
	[instituicao] [varchar](1000) NOT NULL,
	[curso] [varchar](100) NOT NULL,
	[matricula] [varchar](20) NOT NULL,
	[foto] [varchar](1000) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data_compra] [date] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[pagamento_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra_ingresso]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra_ingresso](
	[compra_id] [int] NOT NULL,
	[ingresso_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[compra_id] ASC,
	[ingresso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[desconto]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[desconto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NULL,
	[percentual] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evento]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[data_evento] [date] NOT NULL,
	[localizacao_id] [int] NOT NULL,
	[capacidade_max] [int] NOT NULL,
	[horario_inicio] [datetime] NOT NULL,
	[horario_final] [datetime] NOT NULL,
	[urlBanner] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingresso]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingresso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[evento_id] [int] NOT NULL,
	[data_compra] [date] NULL,
	[valido] [bit] NULL,
	[lote] [int] NULL,
	[preco_base] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingresso_digital]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingresso_digital](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ingresso_id] [int] NOT NULL,
	[codigo_qr] [varchar](255) NOT NULL,
	[token] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localizacao]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localizacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[endereco] [varchar](255) NOT NULL,
	[capacidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notificacao]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NULL,
	[destinatario] [varchar](120) NULL,
	[mensagem] [text] NULL,
	[data_envio] [datetime] NOT NULL,
	[usuario_id] [int] NULL,
	[token] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperacaoLogin]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperacaoLogin](
	[Id] [int] NOT NULL,
	[Nome] [nvarchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagamento]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[metodo] [varchar](50) NOT NULL,
	[valor] [decimal](10, 2) NOT NULL,
	[data_pagamento] [date] NOT NULL,
	[status_pagamento] [varchar](50) NULL,
	[nota_fiscal] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[data_pedido] [date] NOT NULL,
	[status_pedido] [varchar](20) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_desconto]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_desconto](
	[pedido_id] [int] NOT NULL,
	[desconto_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC,
	[desconto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_ingresso]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_ingresso](
	[pedido_id] [int] NOT NULL,
	[ingresso_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC,
	[ingresso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoa]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[email] [varchar](120) NOT NULL,
	[data_nasc] [date] NOT NULL,
	[numero] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[duracao_sessao] [float] NULL,
	[pessoa_id] [int] NOT NULL,
	[Usuario_logado] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[validacao]    Script Date: 19/11/2025 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[validacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data_hora] [datetime] NOT NULL,
	[local_validacao] [varchar](150) NULL,
	[status_validacao] [varchar](50) NULL,
	[ingresso_id] [int] NOT NULL,
	[validador_id] [int] NULL,
	[foi_bem_sucedida] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ingresso] ADD  DEFAULT ((1)) FOR [valido]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ((0)) FOR [Usuario_logado]
GO
ALTER TABLE [dbo].[validacao] ADD  DEFAULT ((0)) FOR [foi_bem_sucedida]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD FOREIGN KEY([pagamento_id])
REFERENCES [dbo].[pagamento] ([id])
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[compra_ingresso]  WITH CHECK ADD FOREIGN KEY([compra_id])
REFERENCES [dbo].[compra] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[compra_ingresso]  WITH CHECK ADD FOREIGN KEY([ingresso_id])
REFERENCES [dbo].[ingresso] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evento]  WITH CHECK ADD FOREIGN KEY([localizacao_id])
REFERENCES [dbo].[localizacao] ([id])
GO
ALTER TABLE [dbo].[ingresso]  WITH CHECK ADD FOREIGN KEY([evento_id])
REFERENCES [dbo].[evento] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ingresso_digital]  WITH CHECK ADD FOREIGN KEY([ingresso_id])
REFERENCES [dbo].[ingresso] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notificacao]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[pedido_desconto]  WITH CHECK ADD FOREIGN KEY([desconto_id])
REFERENCES [dbo].[desconto] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pedido_desconto]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedido] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pedido_ingresso]  WITH CHECK ADD FOREIGN KEY([ingresso_id])
REFERENCES [dbo].[ingresso] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pedido_ingresso]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedido] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([pessoa_id])
REFERENCES [dbo].[pessoa] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[validacao]  WITH CHECK ADD FOREIGN KEY([ingresso_id])
REFERENCES [dbo].[ingresso] ([id])
GO
ALTER TABLE [dbo].[validacao]  WITH CHECK ADD FOREIGN KEY([validador_id])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[ingresso]  WITH CHECK ADD CHECK  (([tipo]='CORTESIA' OR [tipo]='MEIA_ESTUDANTE' OR [tipo]='INTEIRA'))
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD CHECK  (([status_pedido]='CANCELADO' OR [status_pedido]='PAGO' OR [status_pedido]='PENDENTE'))
GO
USE [master]
GO
